div {
	border: 1px dotted gray;
	margin: 10px;
	padding: 10px;
}
.table1 th {
	border: 1px dotted gray;
	margin: 10px;
	padding: 10px;
	background: #ff00ff;
}
.table1 td {
	border: 1px dotted gray;
	margin: 10px;
	padding: 10px;
	background: white;
}